body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
  flex: 1;
  width: auto;
  max-width: 1000px;
  margin: auto;
  padding: 30px;
}
