.places {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  gap: 20px; /* Provides space between the place items */
}

.place {
  background-color: #ffffff;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  width: calc(
    33.333% - 40px
  ); /* Adjusts the width for 3 items per row with gap */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.place h2 {
  color: #484848;
  font-size: 24px;
  margin-top: 0;
}

.price_by_night {
  color: #ff5a5f;
  font-size: 18px;
  padding: 5px 10px;
  border-radius: 4px;
  border: 4px solid #ff5a5f;
  width: fit-content;
  margin-bottom: 15px; /* Spacing between the price and the next section */
}

.information {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.information > div {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

.user,
.description {
  font-size: 14px;
  color: #757575;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .places {
    justify-content: center;
  }

  .place {
    width: calc(50% - 40px); /* Adjusts to 2 items per row */
  }
}

@media (max-width: 768px) {
  .places {
    flex-direction: column;
    align-items: center;
  }

  .place {
    width: 80%; /* Full width for very small devices */
  }
}

/* Accessibility improvements */
.place:focus-within {
  border-color: #76a7fa; /* High contrast border for focused items */
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
