.places {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  margin: 30px auto;
}

.places article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
  width: 390px;
  justify-items: center;
  display: auto;
  justify-items: auto;
}

.places h1 {
  font-size: 30px;
  grid-column: 1/-1;
  grid-row: 1;
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.places h2 {
  font-size: 30px;
  text-align: center;
}

.place3 {
  grid-column: span 2;
  justify-self: center;
}

.places ul {
  list-style-type: none;
}
